{% extends 'base.html.twig' %}

{% set pagetitle = 'Purchase keys'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "data_index": ('Key account'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                        <div class="card bg-transparent p-0">
                            <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center p-0 pb-3">
                                <h6 class="card-title mb-0">
                                    {{ pagetitle }}
                                </h6>
                                <div>
                                    <a href="{{ path('data_index') }}" class="btn btn-sm btn-outline-success me-2">
                                        {{ 'Return to list'|trans }}
                                    </a>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <div>
                                    {% component alert with {type: 'info', closeButton: false} %}
                                        {% block content %}
                                            {{ 'The fields preceded with a red * are mandatory'|trans }}
                                        {% endblock %}
                                    {% endcomponent %}
                                </div>
                                <div class="row g-4">
                                    {{ form_errors(form) }}
                                    <div class="col-md-6">
                                        {{ form_row(form.points) }}
                                    </div>
                                    {% if form.account is defined %}
                                        <div class="col-md-6">
                                            {{ form_row(form.points) }}
                                        </div>
                                    {% endif %}
                                    <div class="col-md-6">
                                        {{ form_row(form.internReference) }}
                                    </div>
                                    <div class="col-12">
                                        {{ form_row(form.mode) }}
                                        <div id="check" class="mt-3 d-none">
                                            <strong>{{ 'Check payable to'|trans }} :</strong> {{ 'SARL The Workshops of R.O.I.'|trans }}
                                            <br/>
                                            <strong>{{ 'Postal address'|trans }} :</strong>
                                            <br/>
                                            {{ 'SARL The Workshops of R.O.I.'|trans }}
                                            18BIS RUE DU MARECHAL LECLERC
                                            28000 CHARTRES
                                        </div>
                                        <div id="bank-wire" class="mt-3 d-none">
                                            <strong>{{ 'Bank reference'|trans }} :</strong> BANQUE POPULAIRE VAL DE FRANCE
                                            <br/>
                                            <strong>{{ 'Account owner'|trans }} :</strong> {{ 'SARL The Workshops of R.O.I.'|trans }}
                                            <br/>
                                            <strong>{{ 'RIB'|trans }} :</strong> 18707 00001 30421623924 94
                                            <br/>
                                            <strong>{{ 'IBAN'|trans }} :</strong> FR76 1870 7000 0130 4216 2392 494
                                            <br/>
                                            <strong>{{ 'BIC'|trans }} :</strong> CCBPFRPPVER
                                        </div>
                                    </div>
                                    <div class="col-12 text-end mt-4">
                                        <button type="submit" class="btn btn-primary mb-0">
                                            {{ 'Purchase'|trans }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
