{% extends 'base.html.twig' %}

{% set pagetitle = 'Manage of client access'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row g-3 align-items-center mb-5">
                <div class="col-sm-6 col-xl-3">
                    <h6 class="mb-0">{{ 'List of access'|trans }}</h6>
                </div>
                <div class="col-xl-9 ms-auto">
                    {{ form_start(form, {attr: {class: "rounded position-relative", method: "GET", action: path("dashboard_client_access_index", {page: 1})} }) }}
                        {{ form_row(form.keywords) }}
                        <button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
                            <i class="fas fa-search fs-6"></i>
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center p-0 pb-3">
                            <h6 class="card-title mb-0">
                                {{ pagetitle }} ({{ customers|length }})
                            </h6>
                            <div>
                                {% if is_granted('ROLE_VERIFIED') %}
                                    <a href="{{ path('dashboard_client_access_new') }}" class="btn btn-sm btn-primary me-2">
                                        {{ 'Create'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if customers|length > 0 %}
                            {% include "dashboard/client/manage-customers-table.html.twig" with {customers: customers} %}
                        {% else %}
                            <div class="card-footer bg-transparent p-0">
                                {% include "global/message.html.twig" with { type: "dark", message: ('No result'|trans), icon: "fas fa-exclamation", class: "my-2" } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
