{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
    <div class="card bg-transparent p-0">
        <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center p-0 pb-3">
            <h6 class="card-title mb-0">
                {{ pagetitle }} {{ role }}
                {% if app.request.attributes.get('_route') == 'dashboard_member_access_edit' %}
                    "{{ user.getFullName|lower|capitalize }}"
                {% endif %}
            </h6>
            <div>
                <a href="{{ path('dashboard_member_access_index') }}" class="btn btn-sm btn-outline-success me-2">
                    {{ 'Return to list'|trans }}
                </a>
            </div>
        </div>
        <div class="card-body px-0">
            <div>
                {% component alert with {type: 'info', closeButton: false} %}
                    {% block content %}
                        {{ 'The fields preceded with a red * are mandatory'|trans }}
                    {% endblock %}
                {% endcomponent %}
            </div>
            <div class="row g-4">
                {{ form_errors(form) }}
				<div class="col-md-6">
					{{ form_row(form.email) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.phone) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.firstname) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.lastname) }}
				</div>
                {% if form.member is defined %}
                    <div class="col-md-6">
                        {{ form_row(form.member) }}
                    </div>
                {% endif %}
                <div class="col-12 text-end mt-4">
                    <button type="submit" class="{% if user.id %}btn btn-warning{% else %}btn btn-primary{% endif %} mb-0">
                        {% if user.id %}
                            {{ 'Update'|trans }}
                        {% else %}
                            {{ 'Save'|trans }}
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
