{% extends 'base.html.twig' %}

{% set pagetitle = 'Manage access for my company'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_main": ('Dashboard'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}
    <section class="pt-0">
        <div class="container">
            <div class="row g-3 align-items-center mb-5">
                <div class="col-sm-6 col-xl-3">
                    <h6 class="mb-0">{{ 'List of access'|trans }}</h6>
                </div>
                <div class="col-xl-9 ms-auto">
                    {{ form_start(form, {attr: {class: "rounded position-relative", method: "GET", action: path("dashboard_member_access_index", {page: 1})} }) }}
                        {{ form_row(form.keywords) }}
                        <button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
                            <i class="fas fa-search fs-6"></i>
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent border-bottom p-0 pb-3">
                            <h6 class="card-title mb-0">
                                {{ pagetitle }} ({{ employees|length }})
                            </h6>
                        </div>
                        {% if employees|length > 0 %}
                            {% include "dashboard/member/manage-employees-table.html.twig" with {employees: employees} %}
                        {% else %}
                            <div class="card-footer bg-transparent p-0">
                                {% component alert with {type: 'info', closeButton: false, class: 'my-2'} %}
                                    {% block content %}
                                        {{ 'No members found'|trans }}
                                    {% endblock %}
                                {% endcomponent %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
